{% extends 'base.html' %}

{% block content %}

<div class="header2">
    {% if not request.user.foto_perfil %}
        <div class="circle"><i class="fas fa-user"></i></div>
    {% else %}
        <img class="circle2" src={% if request.user.foto_perfil %}'{{ request.user.foto_perfil.url }}'{% endif %} alt="">
    {% endif %}
    <h1>{{request.user.username}}</h1>
    <h4>{{ request.user.first_name }} {{ request.user.last_name }}</h4>
    {% if request.user.bio %}
        <p>{{ request.user.bio }}</p>
    {% endif %}
    <div class="follows">
        <button data-toggle="modal" data-target="#modalfollowing" class="following">{{ request.user.count_following }} Seguidos</button>
        <button data-toggle="modal" data-target="#modalfollowers" class="followers">{{ request.user.count_followers }} Seguidores</button>
    </div>
</div>
<div class="publicaciones">
    <h2>Publicaciones</h2>
    <div class="subir_posteo">
        <a href="{% url 'fotos:post_nuevo' %}" class="btn-camera" title="Subir foto"><i class="fas fa-camera"></i></a>
    </div>
    {% if fotos %}
        {% for foto in fotos %}
            <div class="listado">
                <a href="{% url 'fotos:pub_detalles' foto.id %}">
                    <img src={% if foto.imagen %}'{{ foto.imagen.url }}'{% endif %} alt="">
                </a>
            </div>
        {% endfor %}
    {% else %}
        <h1>No hay publicaciones por el momento</h1>
    {% endif %}
</div>
<div class="modal fade" id="modalfollowers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100" id="modaltit">Seguidores</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3" id="control">
                {% for follower in request.user.followers.all %}
                    {% if follower.foto_perfil %}
                        <div class="md-form mb-2 d-flex justify-content-center">
                            <a class="link_user" href="{% url 'usuario:user_profile' follower.id %}">
                                <img class="circle3" src={% if follower.foto_perfil %}'{{ follower.foto_perfil.url }}'{% endif %} alt="">
                                {{ follower.username }}
                            </a>
                        </div>
                    {% else %}
                        <div class="md-form mb-2 d-flex justify-content-center">
                            <a class="link_user" href="{% url 'usuario:user_profile' follower.id %}">
                                <i class="fas fa-user"></i>
                                {{ follower.username }}
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalfollowing" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100" id="modaltit">Siguiendo</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3" id="control">
                {% for following in request.user.following.all %}
                    {% if following.foto_perfil %}
                        <div class="md-form mb-2 d-flex justify-content-center">
                            <a class="link_user" href="{% url 'usuario:user_profile' following.id %}">
                                <img class="circle3" src={% if following.foto_perfil %}'{{ following.foto_perfil.url }}'{% endif %} alt="">
                                {{ following.username }}
                            </a>
                        </div>
                    {% else %}
                        <div class="md-form mb-2 d-flex justify-content-center">
                            <a class="link_user" href="{% url 'usuario:user_profile' following.id %}">
                                <i class="fas fa-user"></i>
                                {{ following.username }}
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
